.btn {
  border: 2px solid #fff;
  border-radius: 12px;
  padding: 15px 30px;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  transition: all .3s ease-in-out;
  &:hover {
    box-shadow: 3px 3px 6px 2px rgba(#000, 0.4);
    background-color: $btn-primary;
    border-color: $btn-primary;
  }
  &:active {
    transform: scale(0.97);
  }
  &.page-btn {
    padding: 0;
  }
}
.btn-fill {
  border-color: $btn-primary;
  background-color: $btn-primary;
  &:hover {
    filter: brightness(1.2);
    box-shadow: 2px 2px 4px 2px rgba(#000, 0.4);
  }
}
